{% extends "base.html" %}
{% block header %}
  <script type="text/javascript" src="/site_media/js/checklist.js"></script>
</head>
{% endblock %}

{% block content %}
<br>
<form name="keywordform" method="post" action="" enctype="multipart/form-data">
  <table border="1" width="80%">
    <tr align="center">
      <td></td>
      <th>Keyword(s)</th>
      <td></td>
    </tr>
    <tr align="center">
      <td></td>
      <td>
        {% if errmsg %}{% autoescape off %}{{ errmsg }}{% endautoescape %}<br>{% endif %}
        For a phrase, enter all the words on the same line. Individual entries should be
        on seperate lines.<br>
        {{ form.wordlist }}
      </td>
      <td><input type="submit" name="submit" value="Add Keyword(s)" /></td>
    </tr>
    <tr align="center">
      <td><input type="checkbox" name="selectall" 
                 onclick="toggleall(this.form,'keywordcheck','selectall')" />
      </td>
      <td colspan="2">
        <input type="submit" name="submit" value="Delete Selected Keywords" 
               onclick="buildlist(this.form,'keywordcheck','keywordlist')" />
      </td>
    </tr>

    {% for k in latest_keyword_list %}
    <tr>
      <td align="center"><input type="checkbox" name="keywordcheck" value="{{ k.id }}" /></td>
      <td>{{ k.keyword }}</td>
      <td></td>
    </tr>
    {% endfor %}
  </table>
  <input type="hidden", name="keywordlist", value="" />
</form>
{% if not latest_keyword_list %}
  <br>
  <b>No keywords are available.</b>
{% endif %}

{% endblock %}
