{% extends "base.html" %}
{% block header %}
  <!-- for the file browser -->
  <style type="text/css" media="screen">@import "/site_media/css/jqueryFileTree.css";</style>
  <style type="text/css">@import "/site_media/css/containers.css";</style>
  <script type="text/javascript" src="/site_media/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/site_media/js/jqueryFileTree.js"></script>
  <script type="text/javascript" src="/site_media/js/visibility.js"></script>
{% endblock %}

{% block content %}
<div id="title">
  <p>Welcome to the Code Janitor!</p>
  {% if nokeywords %}{% autoescape off %}<p>{{ nokeywords }}</p>{% endautoescape %}{% endif %}
</div>
<form name="scanform" action="/search/scan/" method="post" enctype="multipart/form-data">
<div class="container" id="entry_form">
<table align="left">
  <tr align="left">
    <th align="right">{{ form.path.label }}:</th>
    <td>{{ form.path }}</td>
    <td><input type="button" value="Select Path" onclick="toggle_visibility('path_select')"/><td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" value="Start Scan" /></td>
  </tr>
</table>
</div>
<div class="container" id="path_select" style="display: none;"> 
	<div id="path" class="browser"></div> 
</div>
</form>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">

function setdefaults()
{
  document.getElementById("scan_form").style.visibility = 'hidden';
  document.getElementById("job_status").innerHTML = "Getting job status...";
  reload_status();
}

function reload_status()
{
  xmlhttp = new XMLHttpRequest();
  xmlhttp.open("GET", "/search/taskstatus/", false);
  xmlhttp.send();
  if (xmlhttp.responseText == "None") {
    document.getElementById("scan_form").style.visibility = 'visible';
    document.getElementById("job_status").innerHTML = "";
  } else {
    document.getElementById("scan_form").style.visibility = 'hidden';
    document.getElementById("job_status").innerHTML = xmlhttp.responseText;
    setTimeout("reload_status();", 1000);
  }
}

</script>

<div class="cfooter">

<hr>
<b>Subscribe to the <a href="https://lists.linux-foundation.org/mailman/listinfo/janitor-dev">mailing list</a></b><br>
<b>Get latest version from <a href="http://git.linuxfoundation.org/?p=janitor.git;a=summary">git</a></b><br>
<b>Report bugs and request features at <a href="http://bugs.linuxfoundation.org/enter_bug.cgi?product=Compliance">bugzilla</a></b><br>
</div>

{% endblock %}

{% block scripts %}
<script language="JavaScript">
    $(document).ready( function() {
        $('#path').fileTree({
            root: '/',
            script: '/search/dirlist/',
            loadMessage: 'waiting to load'
            }, function(file) {
                filenametoentry(file);
        });
    });
    function filenametoentry(filename) {
        lastchar = filename.slice(-1);
        if (lastchar == '/')
          filename = filename.slice(0, -1);
        // here we accept a file or dir
        document.scanform.path.value = filename;
    }
</script>

{% endblock %}

