<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Code Janitor</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style type="text/css">@import "/site_media/css/tabstyle.css";</style>

<!-- sets up the divs to control the styling of the main page body -->
<style type="text/css">@import "/site_media/css/bodystyle.css";</style>

{% block header %} {% endblock %}

{% if tab_test %}<body onload="setdefaults();">{% else %}<body>{% endif %}

<div id="header">
  <img hspace="40" vspace="5" align="right" src="/site_media/images/janitor_logo_small.png" alt="The Linux Foundation Code Janitor" title="The Linux Foundation" />
  <ul>
    <li {% if tab_test %}id="current"{% endif %}><a href="/search/scan">Scan<br>&nbsp;</a></li>
    <li {% if tab_results %}id="current"{% endif %}><a href="/search/results">Results<br>&nbsp;</a></li>
    <li><a href="/search/documentation">Documentation<br>&nbsp;</a></li>
  </ul>
</div>

<div id="lmargin">&nbsp;</div>
<div id="main">
{% block content %} {% endblock %}
</div>
<div id="rmargin"></div>

</body>

{% block scripts %} {% endblock %}

</html>
